.primary-navigation ul {
    display: flex;
    justify-content: space-between;
    gap: 9px;
}

.primary-navigation ul li {
    line-height: 2em;
    width: 240px;
    background-color: aqua;
    outline: solid;
}