.footer-content {
    display: flex;
    align-items: baseline;
    text-align: justify;
    margin-top: 20px;
    background-color: var(--bg-clr);
}

.footer-content .footer-left-container {
    width: 74%;
    padding: 4px 20px;
    background-color: var(--bg-clr);
}

.footer-content .footer-left-container h2 {
    font-size: large;
    margin: 0;
    padding: 0;
    line-height: 1.7em;
}

.footer-content .footer-left-container nav ul {
    list-style: none;
    list-style-position: inside;
    display: flex;
    width: 269px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-content .footer-left-container nav ul li {
    width: fit-content;
    background-color: var(--secondary-clr);
    padding: 11px;
    margin: 4px;
}

.footer-content .footer-left-container nav li a {
    text-decoration: none;
}

.footer-content .footer-left-container nav li a:hover {
    text-decoration: underline;
}

.footer-content .footer-right-container {
    margin-left: 42px;
    background-color: var(--bg-clr);
    align-self: flex-end;
    padding: 75.1px;
}