.hero-contents-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.hero-contents-wrapper .hero-text h1 {
    font-size: larger;
}

.hero-contents-wrapper .hero-text em {
    width: max-content;
    margin-left: 63px;
    color: tomato;
}

.hero-contents-wrapper img {
    height: 243px;
    width: 69%;
    margin-left: 38px;
    z-index: -1;
}