.dashboard-container .dahsboard-header-ui-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 90px;
    background-color: gainsboro;
    padding: 80px;
    /* width: fit-content; */
    margin: 29px auto;
}

.dahsboard-header-ui-container .rest-labels {
    display: flex;
    margin-left: 35px;
    width: 650px;
    justify-content: space-between;
}

.dahsboard-header-ui-container .rest-labels .header-label,
.dahsboard-header-ui-container .all-categories-label {
    background-color: tomato;
    padding: 11px 20px;
    border-radius: 8px; 
}

.dahsboard-header-ui-container .all-categories-label {
    padding: 11px 29px;
}