pre {
    margin: 0;
}

.up-container {
    text-align: justify;
    width: 22.7rem;
}

.am-wrapper {
    text-align: justify;
}

.am-wrapper span.tox-statusbar__branding svg {
    display: none !important;
}

.tz-wrapper {
    margin: 15px 0;
    min-height: 200px;
}

.tz-wrapper h2 {
    margin: 20px 0;
}

.tz-wrapper > button {
    margin: 20px 0;
    line-height: 2em;
    padding: 0 15px;
    font-size: larger;
    font-weight: bold;
}

.ic-wrapper input {
    width: -webkit-fill-available;
    line-height: 2em;
    margin: 11px 0;
    font-size: larger;
}

.imgc-wrapper {
    margin: 11px 0 45px 0;
}

.imgc-wrapper:last-child {
    margin: 42px 0;
}

.fig-wrapper {
    margin: 0;
    border: solid;
    height: 170px;
    position: relative;
}

.fig-wrapper .svgs-div {
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.fig-wrapper .svgs-div span {
    position: absolute;
}

.fig-wrapper .svgs-div span:last-child {
    right: 0;
}

.fig-wrapper .svgs-div .svg-icon {
    padding: 8px;
    outline: solid;
    margin: 8px;
}

.fig-wrapper .img-elm {
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.ft-wrapper {
    margin: 56px 0;
}

.ft-wrapper button,
.up-container .save-btn {
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

.ft-wrapper p {
    font-size: smaller;
    color: silver;
}

.dob-wrapper {
    display: flex;
    gap: 20px;
}

.dob-wrapper .render-months,
.dob-wrapper .render-days {
    width: 200px;
    border: solid;
    text-align: right;
    position: absolute;
    left: -110px;
    background-color: var(--bg-clr);
}

.dob-wrapper .render-months li,
.dob-wrapper .render-days li {
    font-size: larger;
    margin: 4px;
    outline: solid;
}

.dob-wrapper .svg-elem {
    outline: solid;
    padding: 8px 18px;
    font-size: x-large;
}

.rd-wrapper,
.rm-wrapper {
    position: relative;
}