details summary::-webkit-details-marker,
details summary::marker {
    display: none;
}

details>summary {
    list-style: none;
}

li, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.ttch-container,
.ttch-container > .navs-view,
.ttch-container > .navigation-controls,
.ttch-container ol.cttc-wrapper ul.tags-list li,
.ttch-container .cttc-wrapper ul.tags-list li,
ol>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ttch-container {
    margin: 0 0 29px;
    /* position: relative; */
}

/* .ttch-container > .navigation-controls */
.ttch-container > .navs-view {
    gap: 11px;
    position: relative;
}

li.nav-item,
ol>li {
    background-color: var(--bg-clr);
    padding: 2px 9px;
}

ol>li {
    min-width: 116px;
    justify-content: center;
}

ol>li>span {
    margin: 0 11px 0 0;
}

li.nav-item a {
    color: black;
    padding: 4px 2px;
}

.ttch-container > .navigation-controls > .create-topic {
    padding: 6px 11px;
    border: none;
    position: relative;
    margin: 0 13px;
}

.ttch-container > .navigation-controls .create-a-new-topic {
    position: absolute;
    bottom: 0;
}

.ttch-container > .navigation-controls > .create-topic span {
    margin: 0 0 0 20px;
}

details summary {
    width: 60px;
    height: 36px;
    background-color: var(--bg-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ttch-container ol.cttc-wrapper,
.ttch-container .cttc-wrapper {
    position: relative;
    min-width: 200px;
}

.ttch-container ol.cttc-wrapper ul.tags-list,
.ttch-container .cttc-wrapper ul.tags-list {
    position: absolute;
    background: var(--bg-clr);
    text-align: justify;
    padding: 11px 9px;
    left: 0px;
    top: 35px;
    width: 240px;
    outline: solid 1.1px var(--secondary-clr);
}

.ttch-container ol.cttc-wrapper ul.tags-list li,
.ttch-container .cttc-wrapper ul.tags-list li {
    margin: 0 0 11px 0;
}

.ttch-container ol.cttc-wrapper ul.tags-list li:last-child,
.ttch-container .cttc-wrapper ul.tags-list li:last-child {
    margin-bottom: 0px;
}

.ttch-container ol.cttc-wrapper ul.tags-list li span.tag-name,
.ttch-container .cttc-wrapper ul.tags-list li span.tag-name {
    background-color: var(--primary-clr);
    padding: 6px;
    min-width: 105px;
    text-align: center;
}

.ttch-container ol.cttc-wrapper ul.tags-list li svg,
.ttch-container .cttc-wrapper ul.tags-list li svg {
    color: var(--secondary-clr);
}

/* transitions animations */
.cttc-wrapper .active {
    transition: transform .6s linear;
    transform: rotate(90deg);
}

/* .cttc-wrapper .active:hover {
    transform: rotate(90deg);
    transition: transform 2s linear;
    transform: rotate(90deg);
} */

.cttc-wrapper .inactive {
    transition: transform .6s linear;
    transform: rotate(0deg);
}

.tags-list.show {
    opacity: 1;
    transition: transform .6s linear, opacity .6s;
    transform: translate(0px, 0px);
}

.tags-list.hide {
    transition: transform .6s linear, opacity .6s;
    transform: translate(-270px, 0px);
    opacity: .1;
}