.ep-wrapper,
.as-wrapper,
.ml-wrapper {
    text-align: justify;
    margin-bottom: 11px;
}

.en-container {
    position: relative;
    padding: 20px 0;
}

.en-container button {
    position: absolute;
    left: 0;
    padding: 20px;
    border: none;
    outline: solid .5px var(--secondary-clr);
    border-radius: 8px;
}

.en-container select {
    margin: 11px 0;
    height: 2.2rem;
    font-size: xx-large;
    outline: solid 0.4px var(--primary-clr);
    border-radius: 4px;
    padding: 0 6px;
    border: none;
}

.cb-wrapper {
    line-height: 1.5rem;
}

.cb-wrapper input {
    margin-right: 11px;
}

.ai-wrapper {
    color: gray;
    font-size: smaller;
    margin: 6px 0;
}