table {
    border-collapse: collapse;
}

thead .col-header {
    padding: .4em;
}

tbody {
    border-top: 3px solid var(--bg-clr);
}

tbody .row-header {
    text-align: justify;
}

tbody .row-header .tag-name {
    background-color: var(--primary-clr);
    padding: 6px;
}

tbody .row-data {
    line-height: 2em;
}