.user-topic h1,
.user-topic h2,
.user-topic h4,
.user-topic ul,
.user-topic li,
.user-topic section,
.user-topic p {
    margin: 0;
    padding: 0;
}

.user-topic {
    text-align: -webkit-right;
}

/* .user-topic > .user-actions {
    margin: 11px 2px 20px;
} */

.user-topic li {
    list-style-position: inside;
    list-style-type: none;
}

.user-topic #header-section {
    text-align: justify;
    /* margin-left: 51px; */
}

.user-topic #header-section ul {
    display: flex;
}

.user-topic #header-section ul li {
    margin: 0 8px 0 0;
    background-color: var(--primary-clr);
    padding: 0 4px;
    list-style: none;
}

.user-topic #header-section ul li:last-child {
    margin-right: 0;
}

.user-topic .topic-content {
    text-align: justify;
    /* margin: 20px 60px 11px 51px; */
}

.user-topic .topic-content .starting-infos,
.user-topic .topic-content .starting-infos .user-info {
    display: flex;
}

.user-topic .topic-content .starting-infos {
    justify-content: space-between;
}

.user-topic .topic-content .starting-infos .user-info img {
    margin-right: 11px;
}

.user-topic .topic-description .topic-snaps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-topic .topic-content .topic-description p {
    margin: 0 0 31px 72px;
}