.topic-map ul,
.topic-map li>div {
    display: flex;
}

.user-topic > .map {
    padding: 11px;
    width: fit-content;
    background-color: var(--bg-clr);
}

.topic-map {
    display: flex;
    align-items: center;
    background-color: var(--bg-clr);
    width: max-content;
}

.topic-map .topic-map-drop-down {
    outline: solid 2px var(--primary-clr);
    margin: 2px 11px;
    width: 69px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-map .topic-map-drop-down > svg {
    transform: scale(2.2);
    color: var(--primary-clr);
}

.topic-map ul {
    justify-content: space-evenly;
    background-color: var(--bg-clr);
    position: relative;
    padding: 0 29px 0 11px;
}

.topic-map li {
    text-align: justify;
    margin: 0 11px 0 4px;
}

.topic-map li>div {
    align-items: baseline;
    position: relative;
}

.topic-map li>div .tooltip {
    position: absolute;
    bottom: -20px;
}

.topic-map ul .numbers-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.topic-map ul .numbers-group span {
    font-size: xx-large;
}

.topic-map ul .users-group {
    display: flex;
}

.topic-map ul .users-group div {
    position: relative;
    margin: 0 2px;
    align-items: center;
}

.topic-map ul .users-group div img {
    border-radius: 50%;
}

.topic-map ul .users-group div p {
    position: absolute;
    bottom: -6px;
    width: max-content;
}