.left-panel-nav-list {
    text-align: left;
    width: 12.6vw;
}

.left-panel-nav-list .nav-tab {
    line-height: 2em;
    margin: 11px 0;
    padding: 0px 9px;
}

.left-panel-nav-list .nav-tab.active,
.left-panel-nav-list li:hover {
    outline: solid .4px var(--secondary-clr);
    border-radius: 11px;
    background-color: var(--bg-clr);
}

.left-panel-nav-list .nav-tab.active {
    outline: none;
}

.left-panel-nav-list .nav-tab.active:hover {
    background-color: var(--primary-clr);
}