:root {
    --primary-clr: tomato;
    --secondary-clr: coral;
    --bg-clr: gainsboro;
    --special-clr: darkviolet;
}

* {
    font-size: x-large;
}

.header-section,
.header-section .right-side-ui-wrapper,
.header-section .right-side-ui-wrapper .navs,
.header-section .right-side-ui-wrapper .header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section {
    padding: 4px 49px;
}

.header-section .right-side-ui-wrapper {
    width: 42%;
}

.header-section .right-side-ui-wrapper ul {
    margin: 0;
    padding: 0;
}

.header-section .right-side-ui-wrapper nav .navs {
    width: -webkit-fill-available;
}

.header-section .right-side-ui-wrapper .navs .nav-element {
    background-color: var(--bg-clr);
    padding: 4px 20px;
    border-radius: 8px;
    list-style: none;
    margin-right: 13px;
}

.header-section .right-side-ui-wrapper .navs .nav-element a {
    text-decoration: none;
}

.header-section .right-side-ui-wrapper .navs .nav-element:hover,
.header-section .right-side-ui-wrapper .header-icons .menu-dropdown li:hover {
    color: lightgoldenrodyellow;
    background-color: var(--primary-clr);
}

.header-section .right-side-ui-wrapper .header-icons {
    /* width: 400px; */
    /* justify-content: space-around; */
    list-style: none;
}

.header-section .right-side-ui-wrapper .header-icons .menu-view {
    position: relative;
}

.header-section .right-side-ui-wrapper .header-icons .menu-dropdown {
    position: absolute;
    right: 36px;
    top: 63px;
    display: flex;
    flex-wrap: wrap;
    width: 332px;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;
    padding: 4px 11px;
    border-radius: 4px;
}

.header-section .right-side-ui-wrapper .header-icons .menu-dropdown li {
    background-color: lightgoldenrodyellow;
    margin: 6px 4px;
    padding: 4px 6px;
    border-radius: 4px;
}

.header-section .right-side-ui-wrapper .header-icons .menu-dropdown li a {
    text-decoration: none;
}

.header-section .right-side-ui-wrapper .header-icons .icon-view:nth-child(1) {
    margin-right: 42px;
}

.header-section .right-side-ui-wrapper .header-icons .icon-view {
    height: 42px;
    display: flex;
    align-items: center;
}

.header-section .right-side-ui-wrapper .header-icons .icon-view:hover,
.header-section .right-side-ui-wrapper .header-icons .icon-view:focus-visible {
    background-color: var(--primary-clr);
    transform: scale(1.5);
}

.header-section .right-side-ui-wrapper .header-icons .search-component input {
    width: 288px;
    margin-right: 42px;
    border: maroon 2px;
    background: lightgoldenrodyellow;
    border-radius: 8px;
    padding: 0px 11px;
    outline: none;
    height: 40px;
}