.user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    position: relative;
}

.user-actions > div {
    display: flex;
    justify-content: flex-end;
    column-gap: 29px;
    position: relative;
    margin-top: 36px;
    align-items: center;
}

.user-actions > div svg,
.user-actions > div > .reply-div  {
    outline: solid 1px var(--bg-clr);
    padding: 6px;
    border-radius: 6px;
}

.user-actions > div .reply-icon {
    outline: none;
    background-color: none;
}

.user-actions > div svg {
    width: 29px;
}

.user-actions > div > svg:hover,
.user-actions > div > .reply-div:hover {
    outline: solid 1px var(--primary-clr);
}

.user-actions > div svg:hover {
    background-color: var(--secondary-clr);
}

.user-actions > div .reply-icon:hover {
    background-color: inherit;
}

.user-actions > div .reply-div:hover {
    background-color: var(--bg-clr);
}

.user-actions > div > .reply-div {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 0px 13px 0px 6px;
    color: var(--primary-clr);
}

.user-actions > div > .reply-icon {
    color: var(--primary-clr);
    position: relative;
}

.user-actions #topic-user-reply-reaction {
    position: absolute;
    left: 40px;
    bottom: 0;
}

.user-actions .reactions {
    gap: 6px;
    background-color: var(--secondary-clr);
}

.user-actions .reactions p #tooltipText,
.user-actions > div .ua-tooltips,
.user-actions > div > .show-options .ua-tooltips {
    position: absolute;
    left: 45px;
    width: max-content;
    top: 17px;
    font-size: medium;
    border: solid 1px var(--primary-clr);
    padding: 1px 4px;
    background-color: var(--bg-clr);
    z-index: 99;
    border-radius: 4px;
}

.user-actions .reactions svg {
    padding: 4px 11px;
}

.user-actions .reactions svg:hover {
    background-color: var(--primary-clr);
    outline: solid 1px var(--bg-clr);
    border-radius: 6px;
}

.fa-heart:hover + .reactions {
    animation: reactions-frame .2s ease-in-out 1;
}

.user-actions .reactions-picker,
.user-actions .fold-down,
.fold-down {
    position: absolute;
    display: flex;
    gap: 17px;
    padding: 8px;
    border-radius: 2px;
}

.user-actions .reactions-picker,
.user-actions .fold-down,
.fold-down {
    top: -54px;
    right: 162px;
}

@keyframes reactions-frame {
    from {
        transform: translate(80px, 0px);
        visibility: visible;
    }

    to {
        transform: translate(0px, 0px);
    }
}

.user-actions .fold-down,
.fold-down {
    visibility: hidden;
    animation: reactions-fold .2s linear 1;
}

@keyframes reactions-fold {
    from {
        visibility: visible;
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(80px, 0px);
        visibility: hidden;
    }
}

.user-actions .show-options {
    display: flex;
    gap: 31px;
}