.user-actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 29px;
    position: relative;
    margin-top: 36px;
}

#fa-heart:hover + #reactions {
    animation: reactions-frame .2s ease-in-out 1;
}

.user-actions .reactions-picker,
.user-actions .fold-down,
.fold-down {
    position: absolute;
    display: flex;
    gap: 17px;
    background-color: var(--primary-clr);
    padding: 8px;
    border-radius: 2px;
}

.user-actions .reactions-picker,
.user-actions .fold-down,
.fold-down {
    top: -45px;
    right: 162px;
}

@keyframes reactions-frame {
    from {
        transform: translate(80px, 0px);
        visibility: visible;
    }

    to {
        transform: translate(0px, 0px);
    }
}

.user-actions .fold-down,
.fold-down {
    visibility: hidden;
    animation: reactions-fold .2s linear 1;
}

@keyframes reactions-fold {
    from {
        visibility: visible;
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(80px, 0px);
        visibility: hidden;
    }
}

.user-actions .show-options {
    display: flex;
    gap: 31px;
}