:root {
    --primary-clr: tomato;
    --secondary-clr: coral;
    --bg-clr: gainsboro;
}

.create-a-new-topic {
    position: absolute;
    background-color: var(--bg-clr);
    padding: 4px 11px;
}

.create-a-new-topic .header-element,
.topic-title-and-tags,
.topic-title-and-tags p {
    display: flex;
    align-items: center;
}

.create-a-new-topic .header-element img,
.topic-title-and-tags img {
    height: 42px;
}

.create-a-new-topic .header-element p {
    margin-left: 20px;
}

.topic-title-and-tags {
    position: relative;
}

.topic-title-and-tags fieldset {
    padding: 0;
    margin: 0;
    border: none;
    width: -webkit-fill-available;
}

.topic-title-and-tags fieldset input {
    border: none;
    background-color: var(--bg-clr);
    outline: 2px solid var(--secondary-clr);
    line-height: 1.34em;
    padding-left: 6px;
}

.topic-title-and-tags fieldset input:focus {
    outline: var(--primary-clr) 2px solid;
}

.topic-title-and-tags p {
    justify-content: space-between;
    /* width: min(7rem, 110px); */
    margin: 0;
    margin-left: 40px;
    outline: var(--secondary-clr) 2px solid;
    padding: 0px 4px;
}

.topic-title-and-tags p div {
    width: 224px;
    text-align: left;
}

.topic-title-and-tags .tags-dropdown {
    position: absolute;
    right: 0;
    top: 45px;
}

.topic-title-and-tags .tags-dropdown option {
    width: 265px;
    background: var(--secondary-clr);
    text-align: left;
    padding-left: 9px;
    margin-bottom: 4px;
}

.topic-title-and-tags .tags-dropdown option:last-child {
    margin-bottom: 0;
}