/* .topic-page {
    width: 800px;
    margin: 0 auto;
} */

.topic-page > .user-actions {
    margin: 31px 31px 47px 0;
}

.topic-page > div > .user-actions {
    /* margin-right: 65px; */
    margin: 22px 2px 20px;
}