.left-side-panel-container {
    width: 38%;
    /* background-color: gainsboro; */
    padding: 2px 0;
    margin-right: 31px;
}

.left-side-panel-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-side-panel-container ul a {
    text-decoration: none;
}

.left-side-panel-container thead th {
    background-color: tomato;
    padding: 4px 69px;
    border-radius: 8px;
    /* width: 65vmin; */
    line-height: 1.7em;
}

.left-side-panel-container .left-side-contents-container {
    display: flex;
    justify-content: space-around;
}

.left-side-panel-container td {
    background-color: gainsboro;
    padding: 4px 74px;
    margin: 4px;
}


.left-side-panel-container table {
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-collapse: separate;
    border-spacing: 2px;
}

.left-side-panel-container td,
.left-side-panel-container th {
    padding: 10px 20px;
}

.left-side-panel-container th {
    background-color: rgb(235, 235, 235);
}

.left-side-panel-container td {
    text-align: center;
    /* border-bottom: 4px solid tomato; */
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 11px;
}

.left-side-panel-container td:hover,
.left-side-panel-container td:focus {
    /* border-bottom: 2px solid tomato; */
    background-color: coral;
}

.left-side-panel-container caption {
    display: none;
}

.left-side-panel-container table {
    width: -webkit-fill-available;
}