p {
    margin: 0;
    padding: 0;
}

.left-side-panel-container {
    width: 38%;
    padding: 2px 20px;
    /* margin-right: 31px; */
}

.left-side-panel-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-side-panel-container ul a {
    text-decoration: none;
}

.left-side-panel-container thead th {
    background-color: var(--primary-clr);
    padding: 4px 69px;
    border-radius: 8px;
    line-height: 1.7em;
}

.left-side-panel-container .left-side-contents-container {
    display: flex;
    justify-content: space-around;
}

.left-side-panel-container td {
    background-color: var(--bg-clr);
    padding: 4px 74px;
    margin: 4px;
}


.left-side-panel-container table {
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-collapse: separate;
    border-spacing: 2px;
}

.left-side-panel-container td,
.left-side-panel-container th {
    padding: 10px 20px;
}

.left-side-panel-container th {
    background-color: var(--bg-clr);
}

.left-side-panel-container td {
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 11px;
}

.left-side-panel-container td:hover,
.left-side-panel-container td:focus {
    background-color: var(--secondary-clr);
}

.left-side-panel-container caption {
    display: none;
}

.left-side-panel-container table {
    width: -webkit-fill-available;
}

.left-side-panel-container > .lsp-headers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 11px;
    line-height: 2.6em;
    margin-bottom: 8px;
}

.left-side-panel-container .lsp-headers li {
    background-color: var(--primary-clr);
    border-radius: 8px;
}

.left-side-panel-container .lsp-headers li:first-child {
    /* justify-self: baseline; */
    /* text-align: left; */
}

.left-side-panel-container .lsp-headers li:last-child {
    /* justify-self: end; */
    /* text-align: right; */
}

.left-side-panel-container > .lsp-topic-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.left-side-panel-container .lsp-topic-list li {
    /* display: flex;
    justify-content: space-between;
    padding: 0 2px; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 11px;
}

.left-side-panel-container .lsp-topic-list li p {
    background-color: var(--secondary-clr);
    border-radius: 4px;
}